.div-lila {
  background: #5D5FEF;
  height: 751px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  color: #FFFFFF;
  margin-left: -50px;
}